<abk-flow-tabs class="fill" [instantiateFlow]="uiStateStore.flowInstantiationObs | async">
</abk-flow-tabs>


<app-item-list-dialog [dialogItemConf]="oss.selectedFlowEntityConf$() | async" [finaliseLabel]="'Load'" [dialogHeader]="'Select Data Flow'"
  [isVisible]="uiStateStore.isTemplateInfoDialogVisible"></app-item-list-dialog>

<app-item-list-dialog [dialogItemConf]="oss.selectedFlowEntityConf$() | async" [finaliseLabel]="'Create'" [dialogHeader]="'Create Data Flow'"
  [isVisible]="uiStateStore.isFlowCreationDialogVisible"></app-item-list-dialog>

<p-dialog class="dialog-panel" header="Output Schema" width="500" [resizable]="true" [closable]="false" [(visible)]="uiStateStore.isProcessorSchemaDialogVisible"
  *ngIf="uiStateStore.isProcessorSchemaDialogVisible">
  <abk-processor-schema></abk-processor-schema>
</p-dialog>
