<div class="fill">
  <p-tabView class="fill" (onChange)="selectActiveTab($event.index)">
    <p-tabPanel class="fill" *ngFor="let tabz of oss.flowTabs$() | async" [header]="tabz.title" [selected]="tabz.active" [disabled]="tabz.disabled"
      [hidden]="!tabz.active">
      <div class="flex-panel-parent">
        <div pTooltip="{{tabz.id}}" tooltipPosition="top" class="pull-left" [ngClass]="{green: isRunning(tabz), red: isStopped(tabz), black: isNotStarted(tabz)}">
          {{tabz.name}}
          <span class="label label-default" [hidden]="!(oss.connectMode$() | async)">
            Connect Mode
          </span>
        </div>
        <div class="flex-panel" flow-graph [showFlowInstance]="tabz.flowInstance">Content</div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>

<app-item-list-dialog [dialogItemConf]="oss.selectedFlowEntityConf$() | async" [finaliseLabel]="'Update'" [dialogHeader]="'Processor Properties'"
  [isVisible]="oss.visibility().isProcessorPropertiesDialogVisible" [dynamicItem]="dynamicItem"></app-item-list-dialog>

<app-item-list-dialog [dialogItemConf]="oss.selectedFlowEntityConf$() | async" [finaliseLabel]="'Add'" [dialogHeader]="'Processors'"
  [isVisible]="uiStateStore.isProcessorConfDialogVisible"></app-item-list-dialog>

<app-item-list-dialog [dialogItemConf]="oss.selectedFlowEntityConf$() | async" [finaliseLabel]="'Ok'" [dialogHeader]="'Processor Info'"
  [isVisible]="uiStateStore.isProcessorInfoDialogVisible"></app-item-list-dialog>

<p-dialog class="dialog-panel" header="Relationships" width="600" [resizable]="false" [closable]="false" [(visible)]="uiStateStore.isRelationshipsInfoDialogVisible || uiStateStore.isRelationshipsSettingsDialogVisible"
  *ngIf="uiStateStore.isRelationshipsInfoDialogVisible || uiStateStore.isRelationshipsSettingsDialogVisible">
  <abk-relationships></abk-relationships>
</p-dialog>
