<div class="ui-g">
  <abk-schema-panel class="ui-g-8" [processor]="oss.selectedProcessor$() | async" [mappedFieldName]="fieldName" [selectionMode]="'single'">
  </abk-schema-panel>
  <div class="ui-g-4">
    <div class="flex-panel-parent">
      <div>
        <p>{{description}}</p>
      </div>
      <p-listbox class="flex-panel" [options]="parameters" [(ngModel)]="selectedParameter" [style]="{'width':'200px', 'border-style':'none'}">
        <ng-template let-parameter pTemplate="default">
          <div pDraggable="p-schema-params" (onDragStart)="dragStart($event, parameter.value)" (onDragEnd)="dragEnd($event)">
            {{parameter.label}}
            <i class="text-primary">{{parameter.value.fieldType}}</i>
          </div>
        </ng-template>
      </p-listbox>
    </div>
  </div>
</div>
